include ./mobileMenu.pug
doctype html
head
  title All Lights Off
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="mobile-web-app-capable" content="yes")
  link(rel='stylesheet' href='/jq/jquery.mobile-1.4.5.min.css')
  script(src='/jq/jquery-2.2.1.min.js')
  script(src='/jq/jquery.mobile-1.4.5.min.js')

body
  div.ui-responsive-panel(data-role="page" data-theme="b" data-dom-cache="false")
    +menu
    div(data-role="header" data-position="fixed" id="header")
      h1#h1-large Lights Have Been Turned Off
      a(href="#nav-panel" data-icon="bars" data-iconpos="notext") 
    div.view.ui-content(data-role="main")
      div.dial.background OFF

  script.
    $('head').append('<link rel="stylesheet" type="text/css" href="allLightsOff.css">');      