doctype html
head
  title Commands
  include header

body
  #menu
  h2 Commands
  if err
    .error
      != err
  else
    div
      form(action='/Commands', method='get')
        input(type="submit" name="Action" value="Solcast")
      br
      form(action='/Commands/PassiveL', enctype="multipart/form-data" method='post')
        input(type="file" name="filename")
        |&nbsp;
        input(type="submit" name="Action" value="PassiveL")
      br
      form(action='/Commands/SolarEdge', enctype="multipart/form-data" method='post')
        input(type="file" name="filename")
        |&nbsp;
        input(type="submit" name="Action" value="SolarEdge")
