mixin menu(loggedIn)
  div(data-role="panel" data-display="overlay" data-theme="a" id="nav-panel")
    ul(data-role="listview" data-ajax="false")
      li(data-icon="back")
        a(href="#" data-rel="close") Close menu
      li(data-icon="action")
        a(href="/Heating/mobileOverrides" data-ajax="false") Heating Overrides
      li(data-icon="action")
        a(href="/Heating/mobileGroups" data-ajax="false") Heating Groups
      li(data-icon="action")
        a(href="/Heating/rooms" data-ajax="false") Room Temperatures
      li(data-icon="action")
        a(href="/tlc/scenes" data-ajax="false") Lighting Scenes
      li(data-icon="action")
        a(href="/hollies/lightingChannels" data-ajax="false") Lighting Channels
      li(data-icon="action")
        a(href="/Dashboard?type=Status") System Status
      li(data-icon="action")
        a(href="/Pond?") Pond Functions
      li(data-icon="action")
        a(href="/Watering/schedule?") Watering
      li(data-icon="action")
        a(href="/WiFiGate/monitor" data-ajax="false") Gate Monitor
      li(data-icon="action")
        a(href="/alarms" data-ajax="false") Alarms
      li(data-icon="action")
        a(href="/errors" data-ajax="false") Errors
      li(data-icon="action")
        a(href="/Dashboard?type=output") Outputs
      li(data-icon="action")
        a(href="/graph?new=1") Graphs
      li(data-icon="action")
        a(href="/Dashboard?device=Solar Control&location=Boiler Rm") Solar Controller
      li(data-icon="action")
        a(href="/Dashboard?device=Boiler Control&location=Boiler Rm") Boiler Control
      li(data-icon="action")
        a(href="/Dashboard?device=MHRV&location=Utility") MHRV
      li(data-icon="action")
        a(href="/Dashboard?device=Level Control&location=Utility") Rainwater
      li(data-icon="action")
        a(href="/Dashboard?type=RSSI") RSSI
      li(data-icon="action")
        a(href="/Dashboard?type=Vcc") Vcc
      li(data-icon="action")
        a(href="/Signal/Socket") Socket
      li(data-icon="action")
        a(href="/Signal/Gate") Gate
      li(data-icon="action")
        a(href=desktopLink) Desktop View
      li(data-icon="action")
        if (loggedIn)
          a(href="/login?lougout=1") Logout
        else
          a(href="/login") Log In
    
