include ./mobileMenu.pug
doctype html
head
  title Pond
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="mobile-web-app-capable" content="yes")
  link(rel='stylesheet' href='/jq/jquery.mobile-1.4.5.min.css')
  script(src='/jq/jquery-2.2.1.min.js')
  script(src='/jq/jquery.mobile-1.4.5.min.js')
.style
  .hidden   { visibility: hidden; }
body
  div.ui-responsive-panel(data-role="page" data-theme="b" data-dom-cache="false")
    +menu
    div(data-role="header" data-position="fixed" id="header")
      h1#h1-large Pond Controls
      a(href="#nav-panel" data-icon="bars" data-iconpos="notext") 
    div.view.ui-content(data-role="main")
      div.floatingMenu.hidden
        button(class="ui-btn ui-mini" onclick="update(btnID, 'on');") On
        button(class="ui-btn ui-mini" onclick="update(btnID, 'off');") Off
        button(class="ui-btn ui-mini" onclick="update(btnID, 'not set');") Schedule
        button(class="ui-btn ui-mini" onclick="clearMenu();") Cancel
      for val, i in map
        if (typeof val != 'undefined')
          if (val.name != 'LED')
            div.col10.inline.overridebox
              div.tempBox(id='sw'+val.outputID)
                div.name #{val.name}
                div.dial.off(id=val.outputID)
                  img.imgBtn(src="pond "+val.name+".jpg")
    script.
      var btnID = -1;
      function updateAll(map) {
        for(id in map) {
          if (map[id].request == map[id].state) 
            $('#sw'+map[id].outputID+' .dial').removeClass('set')
          else
            $('#sw'+map[id].outputID+' .dial').addClass('set')
          if (map[id].state == 'on') 
            $('#sw'+map[id].outputID+' .dial').removeClass('off').addClass('on')
          else
            $('#sw'+map[id].outputID+' .dial').removeClass('on').addClass('off')
          if (map[id].override == 'not set') 
            $('#sw'+map[id].outputID+' .dial').parent().parent().removeClass('overrideset').addClass('overrideoff')
          else
            $('#sw'+map[id].outputID+' .dial').parent().parent().removeClass('overrideoff').addClass('overrideset')
        };
      }

      function doUpdate() {
        $.ajax({
          url: "/Pond/set",
          context: document.body,
          cache : false,
          success: function(data) {
            updateAll(data);
          }
       });  
      }

      $(document).on('pageinit', function(x) {
        setInterval(doUpdate, 10000);
        doUpdate();      
        $(".dial").click(function(){
          $('.floatingMenu').toggleClass('hidden');
          btnID = this.id;
        });
      });

      function clearMenu() {
        $('.floatingMenu').addClass('hidden');
      };

      function update(id, request) {
        //- $('#sw'+id+' .dial').addClass('set').toggleClass('off').toggleClass('on');
        //- var request = ($('#sw' + id + ' .dial').hasClass('on')) ? 'on' : 'off';
        var url = "/Pond/set?request=" + request + '&id=' + id;
        $.ajax({
          url: url,
          context: document.body,
          cache : false,
          success: function (data) {
              setTimeout(doUpdate, 500);
         }
       });
       clearMenu();
      }
      $('head').append('<link rel="stylesheet" type="text/css" href="pond.css">');
