doctype html
head
  title Test
body
  h3 Test Heating
  form(action='/testHeating',method='get')
    label(for="action") Action
    input(type="text" name="action")
    label(for="command") Command
    input(type="text" name="command")
    input(type="submit" value="Go")
