p {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

input.bad,select.bad {
    background-color: rgba(240, 107, 84, 0.521);
}

input.good,select.good {
    background-color: rgba(181, 240, 163, 0.521);
}

input.FadePrev {
    margin: 2px 2px 2px 0px;
}

div.selected {
    background-color: rgba(163, 181, 240, 0.521);
}

div.hideRec {
    display: none;
}

button {
    border: 2px solid black;
    background-color: rgba(116, 243, 43, 0.521);
    color: black;
    padding: 2px;
    margin: 2px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 5px;
}

button.help {
    background-color: rgba(116, 243, 43, 0.521);
    color: black;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;   
}

.jsonDisplay {
    resize: both;
    width: 95%;
    height: 400px;
    z-index: 99;
}

td {
    padding:10px;
}

.loadSection {
    font-size: 1.5em;
}

select {
    font-size: 1em;
    margin: 3px;
}

.ipFields {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-between;
    padding: 2px;
    margin: 0.5em;
    border: solid;
}

fieldset {
    margin: 5px;
}

label.standAlone {
    margin: 1em;
}

.helpDiv {
    position: absolute;
    width: 400px;
    background: rgb(246, 247, 193);
    color: rgb(0, 122, 6);
    font-size: 1em;
    border: solid;
    z-index: 99;
}

.sliderDiv {
    position: absolute;
    width: 400px;
    height: 75px;
    background: rgb(246, 247, 193);
    border: solid;
    z-index: 99;
}

.swSlider .ui-widget-header {
    background: #080;
    opacity: 50%;
}

.swSlider {
    width: 90%;
    background-image:linear-gradient(to left, #222, #eee);
    margin: 3px;
}

#slider {
    width: 90%;
    margin: 2px;
}

.helpDone {
    position: absolute;
    top: 0;
    right: 0
}

div h3 {
  margin: .5em 0;
  display: block;
  background: rgba(56, 8, 231, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.25em;
  position: relative;
  width: 95%;
}

div h3:hover {
  background: rgba(0, 0, 0, 0.5);
}